@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
body .box-grid{
    width: 100%; 
    height: 100% ;
    font-size: 15px;
 }
    .box-grid-item{  
        width: 60%;
        margin: auto;
        height: 65vh;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color:hsl(233, 47%, 7%);
        margin-top: 8%;
    }
.item-content{
    height: 35vh;
    width: 40%;
    display: flex;
    flex-direction: row;
}
.item-content.col-1{
  background-color: hsl(244, 38%, 16%);
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
 }
 .item-content.col-2{
  background-image: url(images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size:cover;
  box-shadow: inset 0 0 0 2000px rgb(170 92 219 / 70%);
 }
 .heading{
     color: hsl(0, 0%, 100%);
     font-family: 'Inter', sans-serif;
     font-weight: 700;
 }
 .heading span{
     color: hsl(277, 64%, 61%);
 }
 .para{
     color: hsla(0, 0%, 100%, 0.75);
     font-size: small;

 }
 .bottom{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-right: 25%;
    padding: 5px;
    padding-top: 25px;
 }
  .bottom p{
    font-size: 11px;
    line-height: 0px;
 }
 .bottom .para-1{
     font-size:20px;
     font-family: 'Inter', sans-serif;
     
 }
 .card{
     width: 80%;

 }
 @media only screen and (max-width: 600px) {
    .box-grid-item{  
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        margin-top: 0px;
    }
    .bottom{
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }
    .col-2{
        margin-top: 25%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 100%;
        background-image: url(images/image-header-mobile.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100% !important;
        background-size:cover;
        box-shadow: inset 0 0 0 2000px rgb(170 92 219 / 70%);
       }
       .item-content{
        width: 80%;
        height: 60vh;
      
    }
       .item-content.col-1{
           height: 80vh;
           margin-bottom: 25%;
           border-bottom-right-radius: 10px;
           border-bottom-left-radius: 10px;
       }
    }
